@model IEnumerable<ActionTest.Model.Database.Contato>

<table class="table table-striped table-bordered table-hover dataTables-example" id="TableContato">
    <thead>
        <tr>
            <th width="5%">Código</th>
            <th width="72%">Nome</th>
            <th width="10%">Nº Telefone</th>
            <th width="10%">Nº Celular</th>
            <th width="3%">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="gradeX">
            <td>
                @item.Id
            </td>
            <td>
                @item.Nome
            </td>
            <td>
                @(item.Telefone.Length == 11 ? long.Parse(item.Telefone).ToString(@"(00) 00000-0000") : long.Parse(item.Telefone).ToString(@"(00) 0000-0000"))
            </td>
            <td>
                @(item.Celular.Length == 11 ? long.Parse(item.Celular).ToString(@"(00) 00000-0000") : long.Parse(item.Celular).ToString(@"(00) 0000-0000"))
            </td>
            <td class="text-center">
                <a href="javascript:void(0);" title="Excluir" class="text-warning" onclick="ExcluirContato(@item.Id);">
                    <i class="fa fa-trash-o text-red fa-lg"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>